.skip-to-main{
	position: absolute;
	opacity: 0;
	top: -40px;
	z-index: 1000;
}
.skip-to-main:focus{
	top: 0;
	opacity: 1;
}
footer{
	background-color: lightgray;
}
nav ul{
	list-style-type: none;
	position: relative;
	top: 50px;
}
a{
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    text-decoration: none;
    color: #0256f6;
}
a:hover{
	 border-color: #e302f6;
}
header{
	height: 300px;
	background-color: #dcf6ff;
	background: url(../images/kacper-szczechla-U2L0qbBw9Jo-unsplash.jpg);
}
.flex{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
	position: relative;
	bottom: -200px;
	display: block;
	margin: 0 auto;
	width: 30%;
	font-family: Courier;
}
main div{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;

}
div img{
	border: 20px solid black;
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
	border-radius: 0 30px 0 30px;
}
main{
	background-color: #a883f942;
}
div img:nth-child(3n+3){
	background-color: #fbc1c1;
}
div img:nth-child(3n+3):hover{
	opacity: .5;
}
#animals{
display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
}
